body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
.container {
  min-width: 320px;
  max-width: 500px;
}
.result {
  background-color: #fbf9ea;
}
.row {
  margin-top: 15px;
}
.form-horizontal .has-feedback .form-control-feedback {
  right: 0;
}
